@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Bitter:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-stone-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-stone-400;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-300;
}

::-webkit-scrollbar-corner {
    @apply bg-stone-900;
}

body {
    @apply container;
    @apply max-w-screen-md;
    @apply mx-auto;
    @apply bg-black;
    @apply text-stone-400;
    @apply font-body;
    @apply px-6;
}

main {
    @apply text-justify;
}

section {
    @apply mb-10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-semibold;
    @apply font-heading;
    @apply text-left;
    @apply text-stone-200;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-xl;
}

a {
    @apply hover:text-stone-100;
    @apply hover:underline;
}

.tag {
    @apply bg-black/50;
    @apply rounded-lg;
    @apply px-3;
    @apply py-1;
    @apply m-1;
    @apply text-sm;
    @apply font-semibold;
    @apply border;
    @apply border-stone-500;
}

footer {
    @apply flex;
    @apply flex-col;
    @apply sm:flex-row;
    @apply xl:items-center;
    @apply justify-between;
    @apply py-6;
}

.blog-content {
    @apply mt-7;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
    @apply mt-7;
    @apply mb-5;
}

.blog-content p {
    @apply mb-3;
}

.blog-content ul {
    @apply mb-3;
    @apply list-disc;
    @apply ms-6;
}

.blog-content ol {
    @apply mb-3;
    @apply list-decimal;
    @apply ms-6;
}

.blog-content pre {
    @apply !bg-stone-950;
    @apply p-4;
    @apply mb-4;
    @apply rounded-lg;
    @apply overflow-x-auto;
}

.blog-content a {
    @apply underline;
}
