{{ define "main" }}
<section class="mb-10">
    <h1>{{ .Site.Data.resume.name }}</h1>
    <h2 class="text-stone-400">
        {{ .Site.Data.resume.title }} @ {{ .Site.Data.resume.company }}
    </h2>
    <ul class="flex space-x-4">
        <li>
            <a href="{{ .Site.Data.resume.contact.github }}" target="_blank">
                GitHub
                <svg
                    class="h-4 w-4 inline"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="17" y1="7" x2="7" y2="17" />
                    <polyline points="8 7 17 7 17 16" />
                </svg>
            </a>
        </li>
        <li>
            <a href="{{ .Site.Data.resume.contact.linkedin }}" target="_blank">
                LinkedIn
                <svg
                    class="h-4 w-4 inline"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="17" y1="7" x2="7" y2="17" />
                    <polyline points="8 7 17 7 17 16" />
                </svg>
            </a>
        </li>
    </ul>
</section>

<section class="mb-10">
    <h2 class="mb-6">Something About Me</h2>
    {{ .Content }}
</section>

{{ partial "technical-skills.html" . }}
{{ partial "work-experience.html" . }}
{{ partial "publications.html" . }}
{{ end }}
