{{ define "main" }}
<section class="mb-10">
    <h1>{{ .Site.Data.resume.name }}</h1>
    <h2 class="text-stone-400">
        {{ .Site.Data.resume.title }} @ {{ .Site.Data.resume.company }}
    </h2>
    <ul class="flex space-x-4">
        <li>
            <a href="{{ .Site.Data.resume.contact.github }}" target="_blank">
                GitHub
                <svg
                    class="h-4 w-4 inline"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="17" y1="7" x2="7" y2="17" />
                    <polyline points="8 7 17 7 17 16" />
                </svg>
            </a>
        </li>
        <li>
            <a href="{{ .Site.Data.resume.contact.linkedin }}" target="_blank">
                LinkedIn
                <svg
                    class="h-4 w-4 inline"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="17" y1="7" x2="7" y2="17" />
                    <polyline points="8 7 17 7 17 16" />
                </svg>
            </a>
        </li>
    </ul>
</section>

<section class="mb-10">
    <h2 class="mb-6">Something About Me</h2>
    {{ .Content }}
</section>

<section class="mb-10">
    <h2 class="mb-6">Technical Skills</h2>

    <ul class="flex flex-wrap items-center">
        {{ range .Params.technical_skills }}
        <li
            class="tag"
            data-category="{{ .category }}"
            title="Skill: {{ .name }}, Proficiency: {{ .proficiency }} out of 5"
        >
            <i class="{{ .icon }}"></i>
            {{ .name }}
            <span
                class="flex items-center justify-center bg-stone-900 text-amber-100 text-xs font-semibold rounded-lg px-1.5"
            >
                {{ .proficiency }}
                <svg
                    class="h-3 w-3 text-yellow-400 ml-1"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                    />
                </svg>
            </span>
        </li>
        {{ end }}
    </ul>
</section>

<section class="mb-10">
    <h2 class="mb-6">My Journey So Far</h2>

    {{ range .Site.Data.resume.experiences }}
    <div class="flex flex-col sm:flex-row mb-6">
        <div class="xl:w-1/4 sm:w-full mb-2">
            <h4 class="text-stone-200 text-sm uppercase">
                {{ .startDate }} - {{ .endDate }}
            </h4>
        </div>

        <div class="xl:w-3/4 sm:w-full">
            <article>
                <header class="mb-2">
                    <h3 class="text-stone-100">{{ .title }}</h3>
                    <h4 class="font-normal text-stone-300">{{ .company }}</h4>
                </header>

                <ul>
                    {{ range .responsibilities }}
                    <li class="mb-2">{{ . }}</li>
                    {{ end }}
                </ul>

                <ul class="flex flex-wrap mt-2">
                    {{ range .technical_skills }}
                    <li class="tag">
                        {{ if .icon }}<i class="{{ .icon }}"></i>{{ end }} {{
                        .name }}
                    </li>
                    {{ end }}
                </ul>
            </article>
        </div>
    </div>
    {{ end }}
</section>

<section class="mb-10">
    <h2 class="mb-6">Publications</h2>

    {{ range .Site.Data.resume.publications }}
    <div class="flex flex-col sm:flex-row mb-6">
        <div class="xl:w-1/4 sm:w-full mb-2">
            <h4 class="text-stone-200 text-sm uppercase">
                {{ .startDate }} - {{ .endDate }}
            </h4>
        </div>

        <div class="xl:w-3/4 sm:w-full">
            <article>
                <header class="mb-2">
                    <h3 class="text-stone-100">
                        <a target="_blank" href="{{ .link }}">
                            {{ .title }}
                            <svg
                                class="h-4 w-4 inline"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <line x1="17" y1="7" x2="7" y2="17" />
                                <polyline points="8 7 17 7 17 16" />
                            </svg>
                        </a>
                    </h3>
                    <h4 class="font-normal text-stone-300">{{ .journal }}</h4>
                </header>

                <ul>
                    {{ range .details }}
                    <li class="mb-2">{{ . }}</li>
                    {{ end }}
                </ul>

                <ul class="flex flex-wrap mt-2">
                    {{ range .technical_skills }}
                    <li class="tag">
                        {{ if .icon }}<i class="{{ .icon }}"></i>{{ end }} {{
                        .name }}
                    </li>
                    {{ end }}
                </ul>
            </article>
        </div>
    </div>
    {{ end }}
</section>

<section class="mb-10">
    <h2 class="mb-6">Personal Projects</h2>

    {{ range .Site.Data.resume.projects }}
    <div class="flex flex-col sm:flex-row mb-6">
        <div class="xl:w-1/4 sm:w-full mb-2">
            <h4 class="text-sm uppercase">{{ .startDate }} - {{ .endDate }}</h4>
        </div>

        <div class="xl:w-3/4 sm:w-full">
            <article>
                <header class="mb-2">
                    <h3 class="text-stone-100">
                        <a target="_blank" href="{{ .link }}">
                            {{ .title }}
                            <svg
                                class="h-4 w-4 inline"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <line x1="17" y1="7" x2="7" y2="17" />
                                <polyline points="8 7 17 7 17 16" />
                            </svg>
                        </a>
                    </h3>
                </header>

                <ul>
                    {{ range .details }}
                    <li class="mb-2">{{ . }}</li>
                    {{ end }}
                </ul>

                <ul class="flex flex-wrap mt-2">
                    {{ range .technical_skills }}
                    <li class="tag">
                        {{ if .icon }}<i class="{{ .icon }}"></i>{{ end }} {{
                        .name }}
                    </li>
                    {{ end }}
                </ul>
            </article>
        </div>
    </div>
    {{ end }}
</section>

<section class="mb-10">
    <h2 class="mb-6">Books I've Read Or Reading</h2>

    <div
        class="grid grid-cols-2 md:grid-cols-4 gap-1 justify-between items-center"
    >
        {{ range .Site.Data.books.read }}
        <article
            class="p-1 {{ if .reading }}border rounded-lg border-stone-400{{ end }}"
        >
            <a href="{{ .link }}" target="_blank">
                <img class="rounded-lg" src="{{ .image }}" alt="{{ .title }}" />
            </a>
        </article>
        {{ end }}
    </div>
</section>

<section class="mb-10">
    <h2 class="mb-6">Papers I've Read</h2>

    <ul>
        {{ range .Site.Data.papers.read }}
        <li>
            <a href="{{ .link }}" target="_blank">
                {{ .title }}
                <svg
                    class="h-4 w-4 inline"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="17" y1="7" x2="7" y2="17" />
                    <polyline points="8 7 17 7 17 16" />
                </svg>
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
