<!doctype html>
<html lang="en">
    <head>
        {{ partial "head.html" . }} {{ block "meta" . }}{{ end }}
    </head>
    <body
        class="container max-w-screen-md mx-auto bg-black text-stone-400 font-body px-6 min-h-[100vh] flex flex-col"
    >
        {{ partial "header.html" . }}

        <main class="flex flex-col text-justify flex-grow justify-center">
            {{ if .Param "math" }} {{ partialCached "math.html" . }} {{ end }}
            {{ block "main" . }}{{ end }}
        </main>

        {{ partial "footer.html" . }}
    </body>
</html>
