<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "header.html" . }}
</head>
<body class="container max-w-screen-md mx-auto bg-black text-stone-400 font-body px-6">
{{ partial "nav.html" . }}

<main class="text-justify">
    <section class="mb-10">
        <h1 class="text-3xl font-semibold text-stone-200 font-heading text-left">{{ .Site.Data.resume.name }}</h1>
        <h2 class="text-xl font-semibold text-stone-400 font-heading text-left">{{ .Site.Data.resume.title }}</h2>
        <ul class="flex space-x-4 text-gray-400">
            <li>
                <a href="{{ .Site.Data.resume.contact.github }}" target="_blank" class="hover:text-slate-100 hover:underline">
                    GitHub
                    <svg class="h-4 w-4 text-stone-400 inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <line x1="17" y1="7" x2="7" y2="17" />
                        <polyline points="8 7 17 7 17 16" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="{{ .Site.Data.resume.contact.linkedin }}" target="_blank" class="hover:text-slate-100 hover:underline">
                    LinkedIn
                    <svg class="h-4 w-4 text-stone-400 inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <line x1="17" y1="7" x2="7" y2="17" />
                        <polyline points="8 7 17 7 17 16" />
                    </svg>
                </a>
            </li>
        </ul>
    </section>

    <section class="mb-10">
        <h2 class="mb-6 text-xl font-bold text-stone-200 font-heading">Something About Me</h2>
        <p>{{ .Site.Data.resume.about }}</p>
    </section>

    <section class="mb-10">
        <h2 class="mb-6 text-xl font-bold text-stone-200 font-heading">Technical Skills</h2>

        <ul class="flex flex-wrap items-center">
            {{ range .Site.Data.resume.technical_skills }}
            <li class="bg-black/50 rounded-lg px-3 py-1 m-1 text-sm font-semibold text-stone-400 border border-stone-500">{{ . }}</li>
            {{ end }}
        </ul>
    </section>

    <section class="mb-10">
        <h2 class="mb-6 text-xl font-bold text-stone-200 font-heading">My Journey So Far</h2>

        {{ range .Site.Data.resume.experiences }}
        <div class="flex mb-6">
            <div class="w-1/4">
                <h4 class="text-stone-200 text-sm uppercase font-heading">{{ .startDate }} - {{ .endDate }}</h4>
            </div>

            <div class="w-3/4">
                <article>
                    <header class="mb-2">
                        <h3 class="font-semibold text-stone-100 font-heading">{{ .title }}</h3>
                        <h4 class="text-stone-300 font-heading">{{ .company }}</h4>
                    </header>

                    <ul>
                        {{ range .responsibilities }}
                        <li class="mb-2">{{ . }}</li>
                        {{ end }}
                    </ul>

                    <ul class="flex flex-wrap mt-2">
                        {{ range .technical_skills }}
                        <li class="bg-black/50 rounded-lg px-3 py-1 m-1 text-sm font-semibold text-stone-400 border border-stone-500">{{ . }}</li>
                        {{ end }}
                    </ul>
                </article>
            </div>
        </div>
        {{ end }}
    </section>

    <section class="mb-10">
        <h2 class="mb-6 text-xl font-bold text-stone-200 font-heading">Publications</h2>

        {{ range .Site.Data.resume.publications }}
        <div class="flex mb-6">
            <div class="w-1/4">
                <h4 class="text-stone-200 text-sm uppercase font-heading">{{ .startDate }} - {{ .endDate }}</h4>
            </div>

            <div class="w-3/4">
                <article>
                    <header class="mb-2">
                        <h3 class="font-semibold text-stone-100 font-heading">
                            <a target="_blank" href="{{ .link }}" class="hover:underline">
                                {{ .title }}
                                <svg class="h-4 w-4 text-stone-400 inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <line x1="17" y1="7" x2="7" y2="17" />
                                    <polyline points="8 7 17 7 17 16" />
                                </svg>
                            </a>
                        </h3>
                        <h4 class="text-stone-300 font-heading">{{ .journal }}</h4>
                    </header>

                    <ul>
                        {{ range .details }}
                        <li class="mb-2">{{ . }}</li>
                        {{ end }}
                    </ul>

                    <ul class="flex flex-wrap mt-2">
                        {{ range .technical_skills }}
                        <li class="bg-black/50 rounded-lg px-3 py-1 m-1 text-sm font-semibold text-stone-400 border border-stone-500">{{ . }}</li>
                        {{ end }}
                    </ul>
                </article>
            </div>
        </div>
        {{ end }}
    </section>

    <section class="mb-10">
        <h2 class="mb-6 text-xl font-bold text-stone-200 font-heading">Personal Projects</h2>

        {{ range .Site.Data.resume.projects }}
        <div class="flex mb-6">
            <div class="w-1/4">
                <h4 class="text-stone-200 text-sm uppercase font-heading">{{ .startDate }} - {{ .endDate }}</h4>
            </div>

            <div class="w-3/4">
                <article>
                    <header class="mb-2">
                        <h3 class="font-semibold text-stone-100 font-heading">
                            <a target="_blank" href="{{ .link }}" class="hover:underline">
                                {{ .title }}
                                <svg class="h-4 w-4 text-stone-400 inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <line x1="17" y1="7" x2="7" y2="17" />
                                    <polyline points="8 7 17 7 17 16" />
                                </svg>
                            </a>
                        </h3>
                    </header>

                    <ul>
                        {{ range .details }}
                        <li class="mb-2">{{ . }}</li>
                        {{ end }}
                    </ul>

                    <ul class="flex flex-wrap mt-2">
                        {{ range .technical_skills }}
                        <li class="bg-black/50 rounded-lg px-3 py-1 m-1 text-sm font-semibold text-stone-400 border border-stone-500">{{ . }}</li>
                        {{ end }}
                    </ul>
                </article>
            </div>
        </div>
        {{ end }}
    </section>
</main>
{{ partial "footer.html" . }}
</body>
</html>